.timestamp {
    font-size: 75%;
    color: gray;
    font-style: italic;
}

.conversation-heading {
    background-color: rgb(80%, 80%, 80%);
    border-bottom: 2px solid black;
}

.back-to-top {
    font-style: italic;
}

.preview-image {
    max-width: 300px;
    max-height: 300px;
}

.preview-image-container {
    display: inline-block;
    max-width: 32em;
    color: #000000;
    background-color: #dddddd;
    padding-left: 2em;
    padding-right: 2em;
    font-style: italic;
}

.embed-place, .embed-thing, .embed-dynamite-metadata {
    display: inline-block;
    color: #000000;
    background-color: #dddddd;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.hangout-event {
    display: inline-block;
    color: #344734;
    background-color: #a9e8a9;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.membership-change, .rename-conversation, .group-link-sharing-change {
    display: inline-block;
    color: #384249;
    background-color: #c4e8ff;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
