<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Conversation history</title>
    <link rel="stylesheet" type="text/css" href="../css/conversation.css" />
    <script type="text/javascript" src="../js/jquery-3.6.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/attachment_filename_collisions.js"></script>
</head>

<body>
{% include conversation_heading %}

{% for (ts, sender_id, blocks) in msgs %}
    <p>
      <span class="timestamp">{{ts}}</span><br />
      <b><abbr title="User ID: {{sender_id}}">{{ name_map[sender_id] | default("Very Unknown User") }}</abbr>:</b>
      {% for block in blocks -%}
          {{block}}
      {%- endfor %}
    </p>
{% endfor %}
</body>
</html>
