<div class="conversation-heading">
  <p class="back-to-index"><a href="../index.html">&#8592; Back to index</a></p>
  <h1>Conversation history</h1>
  <p>
    Participants:
    <ul>
    {% for (uid, uname) in name_map|items %}
      <li>
        <abbr title="User ID: {{uid}}">
            {{uname}}
        </abbr>
      </li>
    {% endfor %}
    </ul>
  </p>
</div>
