<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index - Hangouts History</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>

<body>
<h1>Index - Hangouts History</h1>

<ul>
{% for (conv_id, participant_names) in entries %}
    <li>
      <a href="conversations/{{conv_id}}.html">{{
          participant_names | join(", ") | default("(Just you)", true)
      }}</a>
    </li>
{% endfor %}
</ul>
</body>
</html>
